.icon-link {
    display: flex;
    justify-content: space-between;
}

.icon {
    color: rgb(158, 154, 154);
    /* mix-blend-mode: luminosity; */
    cursor: pointer;
    width: 30px;
    height: 35px;
    /* margin: auto; */
    display: inline-block;
    vertical-align: middle
}

.icon-clicked {
    color: rgb(207, 203, 203);
    /* mix-blend-mode: exclusion; */
    background: #8a8787;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 30px;
    height: 35px;
    /* margin: auto; */
    display: inline-block;
    vertical-align: middle
}

.icon-disabled {
    color: rgb(204, 199, 199);
    /* mix-blend-mode: luminosity; */
    width: 30px;
    height: 35px;
    cursor: default;
    /* margin: auto; */
    display: inline-block;
    vertical-align: middle
}

.icon-link svg {
    fill-opacity: 80%;
}

.icon-label {
    color: darkgrey;
    display: inline-block;
    vertical-align: middle
}

.arrow-icon {
    outline-style: solid;
    outline-width: thin;
    color: #5d5b5b;
    width: 35px;
    height: 35px;
    border-radius: 0.25em;
}

.close-icon {
    color: inherit;
    width: 25px;
    height: 25px;
    position: fixed;
    top: 10px;
    right: 5px;
    cursor: pointer
}

