
.settings-panel {
    width: 50vw;
    height: 80vh;
    margin-top: 25rem;
}

.settings {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 1.4rem;
    background: inherit;
}

.settings-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 1rem 0 2rem 0;
    justify-content: space-between;
}

.settings-item label {
    width: fit-content;
    margin: auto 0 auto 0;
}

.settings-item select {
    display: inline-block;
    height: fit-content;
    max-width: 50%;
    margin: auto 0 auto 0;
    border-radius: 0.25em;
    font-size: 1.4rem;
}